@import "https://fonts.googleapis.com/css?family=Lato:400,700,900,300";
 @import "http://weloveiconfonts.com/api/?family=fontawesome";
 .App {
	 text-align: center;
}
 .App-logo {
	 height: 40vmin;
	 pointer-events: none;
}
 .App-header {
	 background-color: #282c34;
	 min-height: 100vh;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 font-size: calc(10px + 2vmin);
	 color: white;
}
 .App-link {
	 color: #61dafb;
}
 #morse_to_text {
	 margin: 10px;
}
 #text_to_morse {
	 margin: 10px;
}
 #caesar_to_text {
	 margin: 10px;
}
 #text_to_caesar {
	 margin: 10px;
}
 #text_to_vug {
	 margin: 10px;
}
 #vug_to_text {
	 margin: 10px;
}
 #vug_buttons {
	 margin: 10px;
}
 .btn {
	 margin-left: 5px;
	 margin-right: 5px;
}
 .purple-border textarea {
	 border: 1px solid #ba68c8;
}
 .purple-border .form-control:focus {
	 border: 1px solid #ba68c8;
	 box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}
 .green-border-focus .form-control:focus {
	 border: 1px solid #8bc34a;
	 box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
 h1.sixth {
	 position: relative;
}
 h1.sixth:before {
	 content: '[';
	 display: inline-block;
	 position: relative;
	 top: 1px;
	 height: 100%;
	 font-size: 1.25em;
	 color: tomato;
	 transition: all 0.5s ease;
}
 h1.sixth:after {
	 content: '[';
	 display: inline-block;
	 position: relative;
	 top: 1px;
	 height: 100%;
	 font-size: 1.25em;
	 color: tomato;
	 transition: all 0.5s ease;
	 content: ']';
}
 h1.sixth:hover:before {
	 transform: translateX(-5px);
}
 h1.sixth:hover:after {
	 transform: translateX(5px);
}
 h2.second {
	 font-weight: 200;
}
 h2.second span {
	 position: relative;
	 display: inline-block;
	 padding: 5px 10px;
	 margin-bottom: 10px;
	 border-radius: 10px;
	 border-bottom: 1px solid tomato;
}
 h2.second span:after {
	 content: '';
	 position: absolute;
	 bottom: calc(-100% - 1px);
	 margin-left: -10px;
	 display: block;
	 width: 100%;
	 height: 100%;
	 border-radius: 10px;
	 border-top: 1px solid tomato;
}
 textarea {
	 color: black !important;
}
 li {
	 padding-bottom: 40px;
}
 
