body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

  .App {
    padding-left: 3%;
    padding-right: 3%;
  }

  h1 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

  .App {
    padding-left: 1.5%;
    padding-right: 1.5%;
  }

  h1 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

  .App {
    padding-left: 3%;
    padding-right: 3%;
  }

  h1 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

  .App {
    padding-left: 1.5%;
    padding-right: 1.5%;
  }

  h1 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

  .App {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  h1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

  .App {
    padding-left: 15%;
    padding-right: 15%;
  }

  h1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

  .App {
    padding-left: 2%;
    padding-right: 2%;
  }

  h1 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
  }

}